<h2>Obligatorisk innlevering 2</h2>
<h2>IS-CLD3000</h2>

<p style="width: 300px; word-wrap: break-word">Inspirert av de gode bildene fra forrige studentfest har vi fått en genial ide. Dere skal lage en bildedelingstjeneste! Tjenesten InstaStudPictureGram skal la studenter laste opp, behandle og dele bilder med andre studenter.</p>